{% extends 'task_app/base.html '%}
{% block content%}
        <div class="col-8 ">
                {% for task in tasks %}

                        <div class="task mt-2">
                            <div >
                                <h3><u>Task: {{ task.task_name}}</u></h3>
                                <div>
                                    <h7>Date Created: {{ task.date_created |date:'F d , Y'}}</h7>
                                </div>

                                <div >
                                    <h7>Date Due: {{ task.date_due |date:'F d , Y' }}</h7>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h5><u>Description</u></h5>
                                    <p>{{ task.description}}</p>

                                    <hr>

                                    <a class="btn btn-danger mb-2"> Delete</a>
                                    <a  class="btn btn-secondary mb-2"> update</a>
                            </div>
                        </div>


               {% endfor %}
        </div>
{% endblock %}