body{

  background-attachment: fixed;
}


.task{
	margin-left: 2%;
	background-color: #1cbec6;
	border-color: black;
	border-radius: 5px;
	width:100%;
	padding:15px;
}

.task-button {
	text-align: center;
}